.flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0;
    padding-top: 35px;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.users-container, .recent-posts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 44%;
    padding: 30px 1.5%;
    background: white;
    border-left: 5px solid #03a9f4;
}

.homepage-title {
    margin: 0;
    font-weight: 800;
    font-size: 3.625em;
    text-shadow: 1px 1px #bdc3c7,
                 2px 2px #bdc3c7,
                 3px 3px #bdc3c7,
                 4px 4px #bdc3c7;
}

.homepage-separator {
    width: 92%;
    margin: 10px auto;
    border: 2px dashed #bdc3c7;
}

/**** USERS CONTAINER ****/

.user-box-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.user-box {
    height: 165px;
    width: 165px;
    cursor: pointer;
    border: 6px solid gainsboro;
    border-radius: 1000px;
    text-align: center;
    margin: 15px;
    background: #03a9f4;
}

.user-box-overlay {
    height: 165px;
    -ms-flex-preferred-size: 165px;
        flex-basis: 165px;
    border-radius: 1000px;
    -webkit-transition: background 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: background 375ms cubic-bezier(.5, .08 ,0 ,1);;
}

.user-initial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 165px;
    border-radius: 1000px;
    font-size: 5em;
    font-weight: 700;
    color: white;
    -webkit-transition: -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1), -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
}

.no-underline {
    text-decoration: none;
    position: relative;
    bottom: 165px;
}

.user-details {
    z-index: 13;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 165px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
}

hr.userlink-separator {
    border: 1px solid white;
    width: 80%;
}

.userlink {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 158px;
    margin: 0 auto;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 1.5em;
    text-shadow: none;
    text-decoration: none;
    color: white;
}

.posts {
    font-size: 0.75rem;
    color: white;
    font-style: italic;
}

/**** RECENT POSTS CONTAINER ****/

