.flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0;
    padding-top: 35px;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.user-title {
    margin: 0;
    font-size: 4.5em;
}

.user-box {
    height: 180px;
    -ms-flex-preferred-size: 180px;
        flex-basis: 180px;
    width: 180px;
    cursor: pointer;
    border: 6px solid gainsboro;
    border-radius: 1000px;
    text-align: center;
    margin: 15px;
    background: var(--material-blue);
}

.user-box-overlay {
    height: 180px;
    -ms-flex-preferred-size: 180px;
        flex-basis: 180px;
    border-radius: 1000px;
    -webkit-transition: background 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: background 375ms cubic-bezier(.5, .08 ,0 ,1);;
}

.user-initial {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 180px;
    border-radius: 1000px;
    font-size: 5em;
    font-weight: 700;
    color: white;
    -webkit-transition: -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1), -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
}

.no-underline {
    text-decoration: none;
    position: relative;
    bottom: 180px;
}

.user-details {
    z-index: 13;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 180px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
}

hr.userlink-separator {
    border: 1px solid white;
    width: 80%;
}

.userlink {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 172px;
    margin: 0 auto;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 1.5em;
    text-shadow: none;
    text-decoration: none;
    color: white;
}

.dot {
    height: 8px;
    width: 8px;
    background: #7d7d7d;
    border-radius: 100px;
}

.posts {
    font-size: 0.75rem;
    color: white;
    font-style: italic;
}

.wide {
    width: 100%;
}
