.flex-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto 0;
    padding: 55px 0;
    width: 85%;
    min-width: 1000px;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.users-container, .recent-posts-wrapper {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    padding: 12.5px 2.5%;
    background: white;
    border-left: 5px solid #03a9f4;
}

.homepage-title {
    margin: 0;
    font-weight: 800;
    font-size: 3.625em;
    text-shadow: 1px 1px #bdc3c7,
                 2px 2px #bdc3c7,
                 3px 3px #bdc3c7,
                 4px 4px #bdc3c7;
}

.homepage-separator {
    width: 92%;
    margin: 10px auto;
    border: 2px dashed #bdc3c7;
}

/**** USERS CONTAINER ****/

.users-container {
    padding-bottom: 30px;
}

.user-box-container {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.user-box {
    width: 11vw;
    height: 11vw;
    position: relative;
    cursor: pointer;
    border: 6px solid gainsboro;
    -webkit-border-radius: 1000px;
            border-radius: 1000px;
    text-align: center;
    margin: 10px;
    background: #03a9f4;
}

.user-box-overlay {
    z-index: 1;
    position: absolute;
    background: rgb(40, 40, 40);
    opacity: 0;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 1000px;
            border-radius: 1000px;
    -webkit-transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
    -o-transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);;
}

.overlay-show {
    opacity: 0.3;
}

.user-initial {
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 100%;
    -webkit-border-radius: 1000px;
            border-radius: 1000px;
    font-size: 6vw;
    font-weight: 700;
    color: white;
    -webkit-transition: -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    -o-transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1), -webkit-filter 375ms cubic-bezier(.5, .08 ,0 ,1);
}

.blur {
    -webkit-filter: blur(8px);
            filter: blur(8px);
}

.no-underline {
    z-index: 2;
    text-decoration: none;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
}

.user-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
    -o-transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
    transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
}

.user-details-show {
    opacity: 1;
}

hr.userlink-separator {
    border: 1px solid white;
    width: 80%;
}

.userlink {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    max-width: 95%;
    margin: 0 auto;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 2vw;
    text-shadow: none;
    text-decoration: none;
    color: white;
}

.posts {
    font-size: 0.75rem;
    color: white;
    font-style: italic;
}

/**** RECENT POSTS CONTAINER ****/

.recent-posts-container {
    padding: 20px 0;
}

.post-container {
    word-wrap: break-word;
}

.blog-title-small, .blog-title-small:visited {
    margin: 0;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    color: #303031;
}

.blog-body-preview {
    position: relative;
    margin-bottom: 0;
    font-family: 'Zilla Slab', serif;
    font-size: 0.85rem;
    line-height: 1.3em;
    height: 2.6em;
    overflow: hidden;
}

.blog-body-preview::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.3em;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.read-more-link, .read-more-link:visited {
    display: block;
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 500;
    color: #03a9f4;
    text-decoration: none;
}

.read-more-link:hover {
    color: #26b7f9;
}

.post-separator {
    border: 1px solid gainsboro;
}
