.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-container {
    display: flex;
    margin: auto 0;
    padding: 55px 0;
    width: 80%;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.users-container, .recent-posts-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 12.5px 2.5%;
    background: white;
    border-left: 5px solid #03a9f4;
}

.homepage-title {
    margin: 0;
    font-weight: 800;
    font-size: 3.625em;
    text-shadow: 1px 1px #bdc3c7,
                 2px 2px #bdc3c7,
                 3px 3px #bdc3c7,
                 4px 4px #bdc3c7;
}

.homepage-separator {
    width: 92%;
    margin: 10px auto;
    border: 2px dashed #bdc3c7;
}

/**** USERS CONTAINER ****/

.user-box-container {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.user-box {
    width: 11vw;
    height: 11vw;
    position: relative;
    cursor: pointer;
    border: 6px solid gainsboro;
    border-radius: 1000px;
    text-align: center;
    margin: 10px;
    background: #03a9f4;
}

.user-box-overlay {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1000px;
    transition: background 375ms cubic-bezier(.5, .08 ,0 ,1);;
}

.user-initial {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    height: 100%;
    border-radius: 1000px;
    font-size: 6vw;
    font-weight: 700;
    color: white;
    transition: filter 375ms cubic-bezier(.5, .08 ,0 ,1);
}

.no-underline {
    z-index: 2;
    text-decoration: none;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
}

.user-details {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 375ms cubic-bezier(.5, .08 ,0 ,1);
}

hr.userlink-separator {
    border: 1px solid white;
    width: 80%;
}

.userlink {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 95%;
    margin: 0 auto;
    letter-spacing: 0.1em;
    font-weight: 500;
    font-size: 1.5em;
    text-shadow: none;
    text-decoration: none;
    color: white;
}

.posts {
    font-size: 0.75rem;
    color: white;
    font-style: italic;
}

/**** RECENT POSTS CONTAINER ****/

