<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }} | tinyblog.io</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" href="{{ url_for('static', filename='css/mainpage.css') }}" rel="stylesheet">
        {% block head %}
        {% endblock %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </head>
    <body>
        <!-- TODO: Flexify topnav -->
        <nav class="main-nav">
            <ul id = "topnav">
                <li class = 'hamburger-menu' onclick = "openNav()"><img src = '/static/images/hamburger.svg' onerror="this.src='hamburger.png'"></li>
                <li><a class = "navlink-main" href = '/blog'>tinyblog.io</a></li>
                <li><a class = "navlink {% if request.path == '/' %}active{% endif %}"
                        href = '/'>Home</a></li>
                {# The following conditional is being used to check if a query parameter is present. If it is, do not apply
                the supplemental CSS class. #}
                <li><a class = "navlink {% if request.path == '/blog' and len(request.args) == 0 %}active{% endif %}"
                        href = '/blog'>My Bloglist</a></li>
                <li><a class = "navlink {% if request.path == '/newpost' %}active{% endif %}"
                        href = '/newpost'>New Blog Post</a></li>
                <li><a class="navlink" href="/build-blogs">Make Test Blogs</a></li>
                {# Here we are dynamically changing the navbar menu links based on if a user is logged in or not #}
                {% if not session['user'] %}
                    <li class = 'user-navlink spacer'><a class = "navlink {% if request.path == '/login' %}active{% endif %}"
                            href = '/login'>Login</a></li>
                    <li class = 'user-navlink'><a class = "navlink {% if request.path == '/signup' %}active{% endif %}"
                            href = '/signup'>Sign up</a></li>
                {% else %}
                    <li class = 'user-navlink spacer'><a class = "navlink {% if request.path == '/logout' %}active{% endif %}"
                        href = '/logout'>Logout</a></li>
                    <li class = 'user-navlink'><a class = "navlink" href= '/blog?user={{ user.username }}'>Welcome, {{ user.username }}!</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id = "sidenav" class = "sidenav">
            <div class = "navlink-wrapper">
                <div class="closebtn" onclick="closeNav()">&times;</div>
                <hr class = "menu-line">
                {% if not session['user'] %}
                    <a href="/login" class="hublink">Login</a><br>
                {% endif %}
                <a href="/" class="hublink">Home</a><br>
                <a href="/blog" class="hublink">Bloglist</a><br>
                <a href="javascript:void(0)" id="entries-link" class="hublink">Entries</a>
                <div id = "expanding-list">
                    {% for blog in blogs %}
                        <a class="side-navlink" href='/blog?id={{ blog.id }}'>{{ blog.title }}</a><br>
                    {% endfor %}
                </div>
                <a href="/newpost" class="hublink">New Post</a>
            </div>
        </div>
            <div id = "menu-footer" class = "menu-footer">
                <a class = "navlink-main white" href = "/blog">tinyblog.io</a>
            </div>
        <div id = "overlay" class = "overlay" onclick = "closeNav()"></div>
        <div id = "main">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="fm-container" class="fm-container">
                        {% for category, message in messages %}
                            <ul id="flash-container" class="flash-container-{{ category }}">
                                <li class="flash">{{ message }}</li>
                                <img class="close-flash-btn" src="/static/images/close-btn.png">
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
