{% extends 'base.html' %}

{% block content %}
            <div class = "content-container">
                <h1 class = "title" >My Bloglist</h1>
                <div class = "bloglist-wrapper">
                    {% for blog in page_blogs.items %}
                        <div class = "entry-container">
                            <div class = "date-bubble">
                                <p class = "pub-month">{{ blog.pubdate.strftime('%b') }}</p>
                                <p class = "pub-date">{{ blog.pubdate.strftime('%d') }}</p>
                            </div>
                            <div class = "blog-details break">
                                <a class = "blog-title" href = '/blog?id={{ blog.id }}'>{{ blog.title }}</a>
                                <p class = "pub-time">
                                    Published by <a class="user-bloglist-link" href="/blog?user={{ blog.owner.id }}">
                                        {{ blog.owner.username }}</a>
                                        at {{ blog.pubdate.strftime('%I:%M%p') }}
                                </p>
                            </div>
                            <p class = "blog-body" >{{ blog.body }}</p>
                            <a class = "goto-entry-button" href = '/blog?id={{ blog.id }}'>READ MORE</a>
                        </div>
                        {# The following conditional will not add a row separator after the last blog entry #}
                        {% if page_blogs.items.index(blog) != (len(page_blogs.items) - 1) %}
                            <hr class = "separator">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class='pagination-container'>
                {%- for page in page_blogs.iter_pages() %}
                    {% if page %}
                        {% if page != page_blogs.page %}
                            <a href="{{ url_for('bloglist', page=page) }}">{{ page }}</a>
                        {% else %}
                            <strong>{{ page }}</strong>
                        {% endif %}
                    {% else %}
                        <span class="ellipsis">...</span>
                    {% endif %}
                {% endfor %}
            </div>
{% endblock %}
