{% extends 'base.html' %}
{% block head %}
        <link type='text/css' href='static/css/home.css' rel='stylesheet'>
{% endblock %}
{% block content %}
        <!-- TODO: FIX THIS WHOLE SITUATION -->
        <div class='flex-wrapper'>
            <div class='flex-container'>
                <div class='users-container'>
                    <h1 class='homepage-title'>Users</h1>
                    <hr class='homepage-separator'>
                        <div class='user-box-container'>
                        {% for user in users %}
                            <div class='user-box' id='user-box'>
                                <div class = 'user-box-overlay'></div>
                                <p id='user-initial' class='user-initial'>{{ user.username[0] }}</p>
                                <a class='no-underline' href='/blog?user={{ user.username }}'>
                                    <div class='user-details'>
                                        <span class='userlink'>{{ user.username }}</span>
                                        <hr class='userlink-separator'>
                                        <span class='posts'>{{ posts[user] }}
                                            {% if posts[user] == 1 %}
                                                post
                                            {% else %}
                                                posts
                                            {% endif %}
                                        </span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        </div>
                    <hr class='homepage-separator'>
                </div>
                <div class='recent-posts-wrapper'>
                    <h1 class='homepage-title'>Recent Posts</h1>
                    <hr class='homepage-separator'>
                    <div class='recent-posts-container'>
                        {% for post in recent_posts %}
                            <div class='post-container'>
                                <a class='blog-title-small' href='/blog?id={{ post.id }}'>{{ post.title }}</a>
                                <p class='blog-body-preview'>{{ post.body }}</p>
                                <a class='read-more-link' href='/blog?id={{ post.id }}'>Read more</a>
                            </div>
                            <hr class='post-separator'>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
