{% extends 'base.html' %}
{% block head %}
        <link type="text/css" href="static/css/home.css" rel="stylesheet">
{% endblock %}
{% block content %}
        <div class='flex-container'>
            <h1 class="user-title">Users</h1>
            <hr class="separator wide">
            {% for user in users %}
                <div class='user-box' id='user-box'>
                    <div class = 'user-box-overlay'>
                        <p id="user-initial" class="user-initial">{{ user.username[0] }}</p>
                    </div>
                    <a class="no-underline" href="/blog?user={{ user.id }}">
                        <div class="user-details">
                            <span class='userlink'>{{ user.username }}</span>
                            <hr class="userlink-separator">
                            <span class="posts">{{ posts[user] }}
                                {% if posts[user] == 1 %}
                                    post
                                {% else %}
                                    posts
                                {% endif %}
                            </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
            <hr class="separator wide">
        </div>
{% endblock %}
